# Gradle / build
.gradle/
build/
out/
*.log

# RFG / run
run/
.rfg-classpath.txt

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/


reference-1201-src/
fallingleaves-1.20.1-2.1.2/
fallingleaves-1.20.1-2.1.2.jar


_docs/
